<div class="portlet light box" style="width:420px;">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold">Account Information</span>
        </div>
    </div>
    <div class="portlet-body">
        <form id="frm-account">    
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="text" name="email"  class="form-control" value="{{email}}" placeholder="jane.doe@example.com">
              </div>
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" name="firstname"  class="form-control" value="{{firstname}}" placeholder="Jane Doe">
              </div>

                <div>
                    <button type="submit" style="float:left;" name="submit" value="Save Changes" data-style="zoom-out" class="btn btn-success ladda-button save">
                        <span class="ladda-label">Save Changes</span>
                    </button>
                    <div style="float: left; color: #060; padding-top: 10px; margin-left:10px;text-transform:initial;" class="account_info"></div>
                </div>
        </form>
    </div>
</div>

<div class="portlet light box" style="width:420px;">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold">Import Bookmarks</span>
        </div>
    </div>
    <div class="portlet-body">
        <p>Import bookmarks exported from your browser.</p>
       <form action="/json/import" id="frm-import" enctype="multipart/form-data" method="POST">
            <div class="form-group">
                <label for="file">Choose file</label>
                <input type="file" name="file" class="form-control"/>
              </div>
              <div>
                <button type="submit" name="submit" value="Upload File" style="float:left;" data-style="zoom-out" class="btn btn-success ladda-button import">
                    <span class="ladda-label">Upload File</span>
                </button>
                <div style="float: left; color: #060; padding-top: 10px; margin-left:10px;text-transform:initial;" class="import_info"></div>
            </div>
        </form>
    </div>
</div>

<div class="portlet light box" style="width:420px;">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold uppercase">Helpful stuff</span>
        </div>
    </div>
    <div class="portlet-body">
        <p>Drag the bookmarklIt button below into your browser's bookmarks bar, then click it while on any page you want to save.<br /><br />
        
        <a class="bookmarklet btn btn-primary" href="javascript:location.href='http://bookmarkit.appacitive.com/bookmarklet/?url=&#39;+encodeURIComponent(window.location.href)+&#39;&amp;title=&#39;+encodeURIComponent(document.title)+&#39;';">BookmarkIt</a><br /><br />
        
        <div>

            If you use Google Chrome, you can <a href="https://chrome.google.com/webstore/detail/ppagffeikbmnffejoljnlbbhibodpegm">download this extension</a> to add a bookmarkly button to your browser's toolbar.<br /><br />
        
            <ul>
                <li><a href="http://windows.microsoft.com/en-US/windows-vista/Import-or-export-favorites-in-Internet-Explorer">How to export favorites in Internet Explorer</a></li>
                <li><a href="http://support.mozilla.org/en-US/kb/Exporting%20bookmarks%20to%20an%20HTML%20file">How to export bookmarks from Mozilla Firefox</a></li>
                <li><a href="http://support.google.com/chrome/bin/answer.py?hl=en&answer=96816">How to export bookmarks from Google Chrome</a></li>
            </ul>
        </div>
            </p>
    </div>
</div>

<div class="portlet light box" style="width:420px;">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold">Change your password</span>
        </div>
    </div>
    <div class="portlet-body">
        <form id="frm-password">    
            <div class="form-group">
                <label for="old_password">Old Password</label>
                <input type="password" name="old_password"  class="form-control"  placeholder="Old Password">
              </div>
              <div class="form-group">
                <label for="new_password">New Password</label>
                <input type="password" name="new_password"  class="form-control" placeholder="New Password">
              </div>
              <div>
                    <button type="submit" name="submit" value="Update Password" style="float:left;" data-style="zoom-out" class="btn btn-success ladda-button password">
                        <span class="ladda-label">Update  Password</span>
                    </button>
                    <div style="float: left; color: #060; padding-top: 10px; margin-left:10px;text-transform:initial;" class="account_password"></div>
                </div>
        </form>
    </div>
</div>
