
<div class="thumb"><a href="{{url}}"><img style='background-image: url("{{screenshot}}");' /></a></div>
<div class="title"><a href="{{url}}">{{title}}</a></div>
{{#isNotEmpty description}}<p class="description">{{description}}</p>{{/isNotEmpty}}
{{#isNotEmpty tags}}
<ul class="tags">
{{#each tags}}
   <li class="tag">{{this}}</li>
{{/each}}
</ul>
{{/isNotEmpty}}
<div class="portlet-title">
	<div class="caption"><span class="pull-left caption-helper">{{date}}</span></div>
	<div class="actions">
		<a href="javascript:void(0);" class="btn btn-default btn-sm edit"><i class="glyphicon glyphicon-pencil "></i> Edit </a>
		<a href="#" class="btn btn-default btn-sm delete"><i class="glyphicon glyphicon-trash "></i> Delete </a>
	</div>
</div>

