        <div id="blackbar">  
            <div class="wrap">
              
                <ul class="logged-in">
                    <li><form id="frm-search"><input type="text" name="search" placeholder="Search bookmarks" class="span3" /></form></li>
                    <li><a href="/mytags"  class="btn primary" id="btn-mytags">my tags</a></li>
                    <li><a href="/"  class="btn primary" id="btn-addbookmark">add a bookmark</a></li>
                    <li><a href="/account" class="btn primary" id="btn-account">my account</a></li>
                    <li><a href="/logout" class="btn primary" id="btn-logout">log out</a></li>
                </ul>
                
                <ul class="public">
                    <li><a href="/login" class="btn primary" id="btn-login">log in</a></li>
                </ul>
                
                <a href="/" id="btn-home" style="text-decoration:none;"><h2 style="color: #999;
text-shadow: 0px 3px 8px #2a2a2a;">bookmarkIt</h2></a>
                
            </div>
        </div>   
